@model IEnumerable<ExamenNetCoreZapatillas.Models.Zapatilla>

@{
    ViewData["Title"] = "Zapatillas";
}

<h1>Zapatillas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Detalles
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a class="btn btn-success" asp-controller="Zapatillas"
                       asp-route-idzapatilla="@item.IdProducto"
                       asp-action="Detalles">
                        @item.Nombre
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
